<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Systango</title>
{#    Bootstap3#}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Systango</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav nav navbar-right">
      {% if request.user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:list'%}">view users</a>
              </li>
        {% endif %}
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">Welcome {{request.user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products:list'%}">view products</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="accounts/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/login">Login</a>
            </li>
            {% if request.user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:list'%}">view users</a>
              </li>
            {% endif %}

        {% endif %}
    </ul>
  </div>
</nav>
<div>


</div>
<div class="container mycontent">
{% block content %}
{% endblock %}
</div>
</body>
</html>